.select {
    position: relative;

    .select2-container {
        .select2-selection {
            &::after {
                position: absolute;
                top: 0;
                right: rem(10px);
                bottom: 0;

                display: block;

                width: rem(24px);
                height: rem(24px);
                margin-top: auto;
                margin-bottom: auto;

                content: "";
                transition: transform $transition-duration $transition-finction;

                background-image: url("../images/icons/arrow-dropdown.svg");
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
            }
        }
    }

    .select2-container--default {
        .select2-selection--single {
            height: rem(50px);

            background-color: $white;
            border: rem(1px) solid $athens-gray;
            border-radius: rem($border-radius-medium);

            .select2-selection__rendered {
                padding: rem(17px) rem(34px) rem(17px) rem(20px);
                
                line-height: rem(15px);
                font-size: rem($font-size-medium);

                color: $bunker;
            }

            .select2-selection__placeholder {
                color: $heather;
            }

            .select2-selection__arrow {
                display: none;
            }
        }
    }

    .select2-search--dropdown {
        display: none;
    }

    .select2-dropdown {
        background-color: $white;
        border: rem(1px) solid $slate-gray;
        border-bottom-left-radius: rem($border-radius-medium);
        border-bottom-right-radius: rem($border-radius-medium);
    }

    .select2-results>.select2-results__options {
        max-height: rem(160px);

        font-size: rem($font-size-medium);

        color: $bunker;
    }

    .select2-results__option {
        padding: rem(18px) rem(20px);

        &[aria-selected=true],
        &--highlighted[aria-selected] {
            color: $bunker;
            background-color: rgba($slate-gray, .05);
        }
    }

    .select2-results__option--selected {
        font-weight: 700;

        color: $wild-blue-yonder !important;
        background-color: transparent;
    }

    .select2-container {
        width: 100% !important;

        &.select2 {

            &:focus,
            &:focus-visible {
                outline: none;
            }
        }

        &.select2-container--open {
            .select2-selection {
                &::after {
                    transform: rotate(180deg);
                }
            }

            .select2-selection--single {
                border: rem(1px) solid $slate-gray;
                border-bottom: 0;
            }
        }

        &.select2-container--default {
            .select2-selection--single {
                .select2-selection__placeholder {
                    font-size: rem($font-size-medium);
                    line-height: rem(15px);
                    letter-spacing: rem($letter-spacing-small);

                    display: block;
                    overflow: hidden;

                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}