.tippy-box {
    padding: rem(8px), rem(12px);

    font-size: $font-size-small;
    font-weight: $bold-font-weight;
    line-height: rem(16px);
    letter-spacing: rem(0.24px);

    color: #3a3a43;
}